* {
    padding: 0;
    margin: 0;
}

/*Modal 1*/

#modal1  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0;
    transition: .2s; 
}

#modal1.ativo  {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1000;
}

#dark {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: .2s;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}

/*Modal 1*/

/*Modal 2*/

#modal2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 0;
    transition: .4s;
}

#modal2.ativo {
    top: 50%;
    opacity: 1;
}


/*Modal 2*/

/*Modal 3*/

#modal3 {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

#modal3.animar {
    animation-name: animacao;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: inherit;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;

    /*animation: animacao .6s forwards;*/
}

@keyframes animacao {
    /*
    from {
        opacity: 0;
        left: 45%;
    }
    */

    to {
        opacity: 1;
        left: 50%;
    }
}

/*Modal 3*/
