body {
	font-family: "Trebuchet MS", Helvetic, sans-serif;
	background: #F2F2F2;
}

#container {
	width: 720px;
	margin: 0 auto;
	background: #FFF;
}

#marca {
	height: 100px;
	background: #9E9E9E;
	text-align: center;
	line-height: 100px;
}

#conteudo {
	width: 520px;
	float: right;
}

#conteudo-principal {
	width: 320px;
	float: left;
}

#conteudo-secundario {
	width: 180px;
	float: right;
	background: #d1d1d1;
}

#navegacao {
	width: 180px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #D1D1D1;
}

#rodape {
	clear: both;
	background: #C4C4C4;
	padding: 5px;
}

#navegacao ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#navegacao a {
	text-decoration: none;
	color: black;
	padding: 5px 15px;
	display: block;
}

#navegacao a:hover {
	background: gray;
}

#navegacao li {
	padding-bottom: 5px;
}
