<header>
    <a href="/">EJS</a>

    <% if(typeof pagina !='undefined' ) { %>
        <p>
            Página atual - <%= pagina %>
        </p>
        <% } %>

            <ul>
                <li>
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="/about">Sobre</a>
                </li>
            </ul>
</header>