* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    margin: 0 auto;
}

.grid {
    display: grid;
    max-width: 1200px;
    border: 1px solid red;
    margin-bottom: 15px;
}

.item {
    background-color: tomato;
    margin: 5px;
    font-size: 1.5em;
}

.grid-template-colums {
    /*grid-template-columns: 200px 800px 200px;*/
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
}

.grid-template-rows {
    /*grid-template-rows: 150px 80px 300px;*/
    grid-template-rows: repeat(3, 100px)
}

.grid-template-areas {
    grid-template-areas: 
        "logo nav nav"
        "sidenav content content"
        "adverts adverts adverts"
        "footer footer footer"
    ;
}

.logo {
    grid-area: logo;
}

.nav {
    grid-area: nav;
}

.sidenav {
    grid-area: sidenav;
}

.content {
    grid-area: content;
}

.adverts {
    grid-area: adverts;
}

.footer {
    grid-area: footer;
}

.grid-template {
    grid-template: 
    "logo nav nav" 150px
    "content content sidenav" 300px
    "adverts footer footer" 50px 
    / 100px 500px
    ;
}

.grid-auto-colums {
    grid-template-columns: repeat(auto-fit, 400px);
    grid-auto-columns: 50px;
}

.item-6 {
    grid-column: 5;
}

.grid-auto-rows {
    grid-template-rows: 300px;
    grid-auto-rows: 150px;
}

.grid-auto-flow {
    grid-auto-flow: column;
    /*grid-auto-flow: dense; Irá deixar o menos de espaço em brancos, sempre irá preencher*/
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 50px;
    max-width: 700px;
    border: 1px solid red;
    margin-bottom: 15px;
}

.grid-column-1 .item-4{
    grid-column: 1/3; /*grid-column: (Linha de inicio / linha final)*/
    /*
    grid-column-start: 1;
    grid-column-end: 3;]
    */
}

.grid-column-1 .item-6 {
    grid-column: 1/-1; /*Linha que inicia / todo o grid (-1)*/
}

.grid-column-1 .item-3 {
    grid-column: 2/span 3; /*Linha que inicia/ expande 3 colunas (span 3)*/
}

.grid-row-1 .item-1{
    grid-row: 3; /*gird-row: (Linha que se inicia)*/
}

.grid-row-1 .item-3 {
    grid-row: 1/4; /*Linha que inicia / linha que se encerra*/
    /*
    grid-row-start: 1;
    grid-row-end: 4;
    */
}

.grid-row-1 .item-6 {
    grid-row: 2/span 3; /*Linha que inicia/ expande 3 linhas (span 3)*/
}

.grid-area .item-2{
    grid-area: 2 / 3 / span 3 / -1;
}