<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header', {pagina: 'sobre' }) %>

            <main>
                <h1>Sobre muito foda</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam iusto eveniet fugit odio odit soluta
                    in quo omnis est, optio maxime minus. Necessitatibus repudiandae temporibus quos sint ipsa
                    cupiditate laborum?</p>
            </main>

            <%- include('../partials/footer') %>
    </body>

</html>