<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../partials/head'); %>

    <body>
        <%- include('../partials/header'); %>

            <main>
                <h1>Usando Node.JS + EJS</h1>
                <p>O EJS é usado para estruturar HTML usando JS</p>
                <p>
                    <%= foo %>
                </p>
            </main>

            <%- include('../partials/footer'); %>
    </body>

</html>